*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#4CAF50;
    color:white;
    text-align:center;
    padding:40px;
}

nav{
    background:#333;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

section{
    padding:40px;
    text-align:center;
}

img{
    width:180px;
    border-radius:50%;
    margin:20px 0;
}

.card{
    background:white;
    width:250px;
    margin:20px;
    padding:20px;
    display:inline-block;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

button{
    background:#4CAF50;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    cursor:pointer;
    margin-top:20px;
}

button:hover{
    background:#2e7d32;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}